{% extends "base.html" %}
{% block title %} About Us{% endblock %}
{% block content %}
<!-- About Us Section -->
<section class="bg-gray-100 py-8 h-[90vh] mb-3 md:mb-0">
    <div class="container mx-auto px-4">
        <h1 class="text-4xl font-bold text-center mb-16">About Us</h1>
        <div class="flex flex-col space-y-4 w-4/5 mx-auto">
            <div class="flex flex-col md:flex-row justify-center gap-y-3 gap-x-5">
                <img src="/static/assets/aboutus1.jpg" alt="Text Editing Company" class="rounded-lg shadow-lg w-full md:w-1/3"/>
                <p class="text-gray-700 text-lg mt-4">
                    We understand the value of your memories and the importance of preserving them. That's why we strive to deliver exceptional quality and attention to detail in every edit we undertake. Our goal is to enhance your images while maintaining their authenticity and capturing the essence of the moment.
                    With our image editing services, you can trust that your memories will be transformed into captivating visuals that evoke emotions and leave a lasting impression. Whether it's personal photographs, professional portraits, or special event images, we are dedicated to delivering edits that exceed your expectations. Preserving the essence of your memories is our utmost priority, and we are committed to providing exceptional quality and service with every project we undertake.
                </p>
            </div>
            <div class="flex flex-col-reverse md:flex-row justify-center gap-y-3 gap-x-5">
                <p class="text-lg text-gray-700 mt-4">
                    Customer satisfaction is at the heart of everything we do. We take pride in our commitment to delivering outstanding results and ensuring that every client is delighted with their edited images. Our dedicated support team is always ready to assist you, answer your queries, and provide guidance throughout the editing process.

Join us on this creative journey and let us help you turn your ordinary images into extraordinary masterpieces. Explore our range of services, unleash your imagination, and let us bring your vision to life. Together, we can create images that leave a lasting impression.

Thank you for us We look forward to transforming your images and exceeding your expectations.
                </p>
                <img src="/static/assets/aboutus2.jpg" alt="Text Editing Company" class="rounded-lg shadow-lg w-full md:w-1/3" />
            </div>
        </div>
    </div>
</section>
{% endblock %}