{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="bg-gray-100">
    <!-- Hero Section -->
    <header class="bg-gray-200 py-20">
        <div class="container mx-auto px-4">
            <div class="text-center">
                <h1 class="text-4xl font-bold text-gray-800 mb-6">Edit Your Images with Ease</h1>
                <p class="text-lg text-gray-600 mb-8">Enhance, crop, and transform your images effortlessly.</p>
                <a href="/services"
                    class="text-center px-4 py-2 rounded-xl bg-blue-500 hover:scale-150 hover:bg-blue-700 text-white tracking-widest uppercase">Get
                    Started</a>
            </div>
        </div>
    </header>

    <!-- Features Section -->
    <section class="py-16 w-4/5 mx-auto">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold text-gray-800 mb-8 justify-end">Our Features</h2>
            <div class="flex flex-wrap -mx-4">
                {% for service in services %}
                <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-4 mb-8">
                    <div class="bg-white p-6 rounded shadow">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto mb-4" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                        </svg>
                        <h3 class="text-xl font-bold text-gray-800 mb-2">{{service.title}}</h3>
                        <p class="text-gray-600">{{service.description}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="flex justify-center">
            <a class="text-center px-4 py-2 rounded-xl bg-blue-500 hover:scale-110 hover:bg-blue-700 text-white tracking-widest uppercase"
                href="/services">View All Services</a>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-gray-800 py-4">
        <div class="container mx-auto px-4">
            <p class="text-center text-gray-500">&copy; 2023 Image Editor. All rights reserved.</p>
        </div>
    </footer>
</div>
{% endblock %}