{% extends "base.html" %}
{% block title %} Image Resizing {% endblock %}
{% block content %}
<section class="w-4/5 mx-auto mt-8">
    <h1 class="font-bold text-4xl tracking-wider text-center uppercase">Image Resizing</h1>
    <article class="mt-8 md:mt-16">
        <h3 class="font-bold text-xl">Why is image resizing important?</h3>
        <p class="text-sm">Image resizing is important because it can help to improve the performance and appearance of
            websites and applications. By resizing images to the correct size, you can reduce the amount of bandwidth
            that is required to load them, which can lead to faster loading times and improved visual appearance.</p>
    </article>
    <form method="post" class="mt-8" enctype="multipart/form-data">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload file</label>
        <input
            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
            aria-describedby="file_input_help" id="file_input" type="file" name="file">
        <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX.
            800x400px).</p>
        <div class="mt-2 flex justify-between md:gap-x-8 md:justify-start">
            <div>
                <label for="width" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Width</label>
                <input type="number" id="width"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-2 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required name="width">
            </div>
            <div>
                <label for="height" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Height</label>
                <input type="number" id="height"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-2 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    name="height">
            </div>
        </div>
        <div class="flex justify-center">
            <button type="submit"
                class="w-fit px-4 py-2 border border-orange-500 hover:bg-orange-500 hover:text-white uppercase mt-4 tracking-wider hover:scale-110 rounded-lg">Resize Image</button>
        </div>
    </form>
</section>
{% endblock %}