{% extends "base.html" %}
{% block title %} Text to Image {% endblock %}
{% block content %}
<section class="w-4/5 mx-auto mt-8">
    <h1 class="font-bold text-4xl tracking-wider text-center uppercase">Text to Image</h1>
    <article class="mt-8 md:mt-16">
        <h3 class="font-bold text-xl">?</h3>
        <p class="text-sm"></p>
    </article>
    <form method="post" class="mt-8">
        <div class="flex-col flex">
            <label class="text-xl font-bold mb-4" for="prompt">
                Enter your prompt
            </label>
            <input name="prompt" id="prompt" type="text" class="border border-blue-500 px-2 py-1 h-9 leading-10 border-l-0 border-r-0 border-t-0 border-b bg-transparent text-sm text-black focus:rounded-md focus:outline-blue-700">
        </div>
        <div class="flex justify-center mt-8">
            <button class="border-blue-500 border-2 px-4 py-2 rounded-xl hover:bg-blue-500 hover:border-white hover:text-white tracking-wider uppercase hover:font-bold hover:scale-105" type="submit">Generate image</button>
        </div>
    </form>
</section>
{% endblock %}